.mar-top-5{
	margin-top: 5px;
}
.mar-bot-5{
	margin-bottom: 5px;
}
.mar-5{
	margin: 5px;
}
.mar-top-10{
	margin-top: 10px;
}
.mar-bot-10{
	margin-bottom: 10px;
}
.mar-10{
	margin: 10px;
}
.mar-top-15{
	margin-top: 150px;
}
.mar-bot-15{
	margin-bottom: 15px;
}
.mar-15{
	margin: 15px;
}
.mar-top-20{
	margin-top: 20px;
}
.mar-bot-20{
	margin-bottom: 20px;
}
.mar-20{
	margin: 20px;
}

.pad-top-5{
	padding-top: 5px;
}
.pad-bot-5{
	padding-bottom: 5px;
}
.pad-5{
	padding: 5px;
}
.pad-top-10{
	padding-top: 10px;
}
.pad-bot-10{
	padding-bottom: 10px;
}
.pad-10{
	padding: 10px;
}
.pad-top-15{
	padding-top: 15px;
}
.pad-bot-15{
	padding-bottom: 15px;
}
.pad-15{
	padding: 15px;
}

.no-pad{
	padding: 0px !important;
}
.no-mar{
	margin: 0px !important;
}

.text-pink{
	color: #f37e82 !important;
	/* color: #ee6e73 !important; */
}
.text-grey{
	color: #999 !important;
}

.bold{
	font-weight: 700 !important;
}

.has-error .form-control{
	border-color: #dd4b39 !important;
}
.has-error .select2-container--default .select2-selection--multiple {
	border-color: #dd4b39 !important;
}
.has-error .cke_chrome{
	border: 1px solid #dd4b39 !important;
}
.form-control.has-error {
	border-color: #dd4b39 !important;
}

.hidden{
	visibility: none !important;
}

.box-header, .box-body, .box-footer{
	padding: 15px;
}

.button-list a{
	margin: 0 1px;
}
.btn{
	border-radius: 0px;
}
.btn-danger {
	background-color: #dd4b39 !important;
	border-color: #d73925 !important;
	color: #ffffff !important;
}
.btn-primary {
	background-color: #3c8dbc !important;
	border-color: #367fa9 !important;
	color: #ffffff !important;
}

table .check-box{
	width: 35px;
}

.modal-footer{
	padding: 0px 15px 15px 15px;
}

.form-control[readonly]{
	background-color: transparent;
}

.callout.callout-sm{
	padding: 10px 30px 10px 15px;
}

.circled-icon{
	border-radius: 50%;
	border: 2px solid #dd4b39;
	width: 80px;
	height: 80px;
	line-height:70px;
	text-align: center;
}
.circled-icon i{
	font-size: 34px;
	color: #dd4b39;
	-webkit-text-stroke: 1px #ffffff;
	padding: 10px;
}

i.thin-icon{
	-webkit-text-stroke: 1px #ffffff;
}
i.big-icon{
	font-size: 70px;
	-webkit-text-stroke: 2px #ffffff;
}

.hidden{
	display: none !important;
}

.dropdown-menu>li>a {
	color: #333;
	padding: 7px 20px;
}
.dropdown-menu {
	box-shadow: none;
	border-color: #d3d3d3;
	border-radius: 0px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f1f1f1;
}

.full{
	width: 100%;
}




.profile-header{
	padding: 0 0 30px 0;
}
.profile img{
	position: absolute;
	/* object-fit: scale-down; */
	/* top: 50%; 
	left: 50%;
  transform: translate(-50%,-50%); */
}
.landscape{
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.potrait{
	width: 100%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.outer-wrap{
	margin: 0 auto;
	width: 150px;
	height: 150px;
	position: relative;
}
.photo-wrap-sm{
	width: 25px;
	height: 25px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}
.photo-wrap-sm{
	width: 45px;
	height: 45px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}
.photo-wrap{
	margin: 0 auto;
	width: 150px;
	height: 150px;
	position: relative;
	border-radius: 50%;
	overflow: hidden
}
.photo-button{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.btn.photo-button{
	border-radius: 50%;
	width: 46px;
	height: 46px;
}
.btn.photo-button i{
	margin-left: -3px;
}
.btn-dot3{
	border-radius: 50% !important;
	width: 42px;
	height: 42px;
	background-color: transparent;
	border: none;
	-webkit-text-stroke: 1px #ffffff;
}
.btn-dot3:hover{
	color: #333;
	background-color: #f5f5f5 !important;
	-webkit-text-stroke: 1px #f5f5f5 !important;
}
.open>.dropdown-toggle.btn-dot3 {
	color: #333;
	background-color: #f5f5f5 !important;
	-webkit-text-stroke: 1px #f5f5f5 !important;
}
.input-group-btn.custom .dropdown-menu{
	min-width: 130px;
}
.input-group-btn.custom > .dropdown-menu > li:hover{
	cursor: pointer;
}

.full-tabs .two-tabs > li{
	width: 50%;
}
.full-tabs.three-tab > li{
	width: 33.33%;
}
.full-tabs.four-tab > li{
	width: 25%;
}
.full-tabs>.nav-tabs>li{
	margin: 0px;
	text-align: center;
}
.nav-tabs-custom > .nav-tabs > li.active > a{
	font-weight: 700;
}

.img-wrap{
	position: relative;
}
.img-wrap img{
	width: 100%;
}
.img-wrap > .img-overlay{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #333;
	opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.img-wrap:hover > .img-overlay{
	opacity: 0.3;
}
.img-wrap > .img-upload{
	position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
	opacity: 0.5;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.img-wrap:hover > .img-upload{
	opacity: 1;
}
.img-upload .btn{
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.img-upload .btn:hover{
	background-color: #3c8dbc;
	border-color: #367fa9;
}
.img-upload .btn i {
	font-size: 28px;
	margin-left: -4px;
	margin-top: 2px;
}


ul.wysihtml5-toolbar>li {
	margin: 0 5px 5px 0;
}
.text-editor{
	margin: 20px 0;
}




/* SELECT@ */
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	border-radius: 0px !important;
}



/* FEATURE IMAGE - DASHBOARD */
.feature-image{
	width: 100%;
	height: 250px;
	overflow: hidden;
	position: relative;
}
.feature-image img{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.feature-image .title{
	position: absolute;
	bottom: 20px;
}
/* .feature-image .btn-dot3{
	background-color: #ffffff;
}
.feature-image .input-group-btn.custom{
	position: absolute;
	top: 10px;
	right: 10px;
} */
.meta{
	border-top: 1px solid #d2d6de;
	border-bottom: 1px solid #d2d6de;
}
.meta .author{
	position: relative;
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
}
.meta .author img{
	width: 42px;
	height: auto;
}
.meta .author .info{
	padding: 5px 5px 5px 5px;
	line-height: 1;
	position: absolute;
	left: 55px;
	line-height: 17px;
}
.publish-status{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 180px;
	padding: 3px 8px;
	/* color: #ffffff; */
	background-color: rgb(255, 255, 255);
	border-radius: 26px;
}

.meta .input-group-btn.custom{
	padding: 10px 0;
}



/* MATERIAL SWITCH */

.material-switch > input[type="checkbox"] {
	display: none;   
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative; 
	width: 40px;  
}

.material-switch > label::before {
	background: rgb(0, 0, 0);
	/* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); */
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position:absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}
.material-switch > label::after {
	background: #d3d3d3;
	border-radius: 16px;
	/* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
	background: inherit;
	opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
	background: inherit;
	left: 20px;
}


/* RESPONSIVE */
@media (max-width: 767px) {
  .container {
    width: 750px;
  }
	.feature-image{
		height: 140px;
	}
	.publish-status{
		top: 10px;
		left: 10px;
		font-size: 13px;
		width: 150px;
		padding: 4px 8px 3px 8px;
	}
}
@media (min-width: 767px) {
	.form-horizontal .content-label {
		padding-top: 7px;
	}
	.main-header .navbar-custom-menu a.btn{
		background: initial;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.feature-image{
		height: 200px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}